.articles-list__item{
  margin: 25px auto 0 auto;
}

.article-item{
  background-color: #fff;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  display:grid;
  grid-template-areas:
    "title like author-name author-avatar"
    "tags tags date author-avatar"
    "introtext introtext introtext introtext";
  grid-template-columns: fit-content(50px) fit-content(50px) auto 46px;
  padding: 15px;
  max-width:938px;
}

@media(max-width: 600px){
  .article-item{
    grid-template-areas:
    "title title"
    "tags tags"
    "author-avatar author-name"
    "author-avatar date"
    "introtext introtext";
    grid-template-columns: 46px calc(100% - 46px);
    position: relative;
    width:100%;
  }
}

.article-item__title{
  grid-area: title;
  white-space: nowrap;
  font-size: 20px;
  color: #1890FF;
  text-decoration: none;
  width: calc(100% - 100px);
  line-break: anywhere;
  word-wrap: break-word;
  word-break: break-all;
}

@media(max-width: 600px){
  .article-item__title{
    padding-right:50px;
  }
}

.article-item__like-block{
  grid-area: like;
  display: flex;
  align-items: center;
  margin-left: 13px;
  cursor: pointer;
}

@media(max-width: 600px){
  .article-item__like-block{
    margin-left: 0;
    position: absolute;
    top:20px;
    right:20px;
    z-index:30;
  }
}

.like-block__count{
  margin-left: 5px;
}

.article-item__tags-block{
  grid-area: tags;
}

.article-item__author-name{
  grid-area: author-name;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 12px;
}

@media(max-width: 600px){
  .article-item__author-name{
    justify-content: flex-start;
    padding-left:10px;
  }
}

.article-item__publication-date{
  grid-area: date;
  display:flex;
  justify-content: flex-end;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 12px;
}

@media(max-width: 600px){
  .article-item__publication-date{
    justify-content: flex-start;
    padding-left:10px;
  }
}

.article-item__author-avatar{
  grid-area: author-avatar;
  border-radius: 50%;
  overflow: hidden;
  width: 46px;
  height: 46px;
}

.article-item__introtext{
  grid-area: introtext;
}

.article-item__tags-list{
  margin-top: 11px;
}

@media(max-width: 600px){
  .article-item__tags-list{
    margin-bottom: 10px;
  }
}

.tags-list{
  list-style: none;
  display: flex;
}

.tags-block__tag{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display:flex;
  align-items: center;
  padding:5px;
  margin-right: 8px;
}

.article-item__introtext{
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 4px;
  max-width: 682px;
}

@media(max-width: 600px){
  .article-item__introtext{
    margin-top: 20px;
  }
}