.loading-block{
  width:100%;
  min-height: 50vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.error-block{
  margin-top: 30px;
}

.article-body{
  background-color: #fff;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  margin-top: 25px;
  padding: 15px;
}

.article-header{
  display:grid;
  grid-template-areas:
    "title like author-name author-avatar"
    "tags tags date author-avatar"
    "introtext introtext introtext buttons";
  grid-template-columns: fit-content(50px) fit-content(50px) auto 46px;
}

@media(max-width: 600px){
  .article-header{
    grid-template-areas:
    "title title"
    "tags tags"
    "author-avatar author-name"
    "author-avatar date"
    "like buttons"
    "introtext introtext";
    grid-template-columns: 46px calc(100% - 46px);
    position: relative;
  }
}

.article-title{
  grid-area: title;
  white-space: nowrap;
  font-size: 20px;
  color: #1890FF;
  text-decoration: none;
  margin-bottom: 0;
  word-break: break-word;
}


@media(max-width: 600px){
  .article-title{
    padding-right:50px;
  }
}

.like-block{
  grid-area: like;
  display: flex;
  align-items: center;
  margin-left: 13px;
  cursor: pointer;
}

.buttons-block{
  grid-area: buttons;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

@media(max-width: 600px){
  .buttons-block{
    justify-content: flex-start;
    margin:10px 0;
  }
}

.like-block__count{
  margin-left: 5px;
}

.tags-list{
  grid-area: tags;
  margin-top: 11px;
  list-style: none;
  display: flex;
}

@media(max-width: 600px){
  .tags-list{
    margin-bottom: 10px;
  }
}

.author-name{
  grid-area: author-name;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 12px;
}

@media(max-width: 600px){
  .author-name{
    justify-content: flex-start;
    padding-left:10px;
  }
}

.publication-date{
  grid-area: date;
  display:flex;
  justify-content: flex-end;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 12px;
}

@media(max-width: 600px){
  .publication-date{
    justify-content: flex-start;
    padding-left:10px;
  }
}

.author-avatar{
  grid-area: author-avatar;
  border-radius: 50%;
  overflow: hidden;
  width: 46px;
  height: 46px;
}

.tags-list__tag{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display:flex;
  align-items: center;
  padding:5px;
  margin-right: 8px;
}

.introtext{
  grid-area: introtext;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 4px;
  max-width: 682px;
}

@media(max-width: 600px){
  .introtext{
    margin-top: 20px;
  }
}

.article-text{
  margin-top:15px;
  padding:0 15px;
  word-break: break-all;
}

.buttons-block__edit{
  text-decoration: none;
  border: 1px solid #52C41A;
  border-radius: 5px;
  font-size: 14px;
  color: #52C41A;
  padding: 5px 10px;
  margin-left: 10px;
  transition: .3s;
}

.buttons-block__edit:hover{
  background-color: #52C41A;
  color: #fff;
}

.buttons-block__delete{
  text-decoration: none;
  border: 1px solid #F5222D;
  border-radius: 5px;
  font-size: 14px;
  color: #F5222D;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: transparent;
  transition: .3s;
}

.buttons-block__delete:hover{
  background-color: #F5222D;
  color: #fff;
}

.buttons-block{
  position: relative;
}

.comfirm-delete{
  position: absolute;
  top: 0;
  right: calc(-100% - 147px);
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
  background: #FFFFFF;
  border-radius: 4px;
  width: 240px;
  padding:20px;
}

@media(max-width: 600px){
  .comfirm-delete{
    top:calc(100% + 20px);
    right: auto;
    left:0;
  }
}

.comfirm-delete__wrapper{
  position: relative;
}

.comfirm-delete__wrapper:before{
  content: "";
  display:block;
  width:15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  left:-25px;
  top:-10px;
}

@media(max-width: 600px){
  .comfirm-delete__wrapper:before{
    top:-25px;
    left:10px;
  }
}

.buttons-block__no{
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  color: #595959;
  padding: 5px 10px;
  margin-right: 10px;
}

.buttons-block__yes{
  background: #1890FF;
  border: 1px solid #1890FF;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-right: 10px;
}