.profile__body{
  background-color: #fff;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  border: 1px solid #D9D9D9;
  margin: 60px auto 0 auto;
  width:384px;
  display:flex;
  flex-direction: column;
  padding: 33px 30px;
}

@media(max-width: 1000px){
  .profile__body{
    width:100%;
  }
}

.profile__title{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
}

.profile__form-group{
  margin-top: 12px;
}

.profile__label{
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.profile__input{
  width:100%;
  height:40px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 5px 12px;
  color: #262626;
  margin-top: 3px;
}

.profile__input--error{
  border-color: #F5222D;
}

.profile__input:focus{
  outline: none;
}

.profile__input::placeholder{
  color: #BFBFBF;
}

.profile__error{
  font-size: 12px;
  line-height: 18px;
  color: #F5222D;
  margin-top: 2px;
}

.profile__btn{
  width:100%;
  padding: 8px 16px;
  background: #1890FF;
  border-radius: 4px;
  color: #fff;
  border:none;
  margin-top: 21px;
  cursor: pointer;
}

.profile__btn--is-sending{
  background-color: rgba(0,0,0,.1);
  cursor: default;
}